<nav class="navbar navbar-default">
  <div class="navbar-container">
    <div class="navbar-header">
      <button type="button" name="toggle-navigation" class="navbar-toggle collapsed"
      data-target="#bs-navbar-collapse-1" data-toggle="collapse" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <%= link_to "Photogram", root_path %>
      </div><!-- fim .navbar-brand -->
    </div><!-- fim .navbar-header -->

    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <%= render 'notifications/notification_dropdown' %>
          <li><%= link_to "Browse Posts", browse_posts_path %></li>
          <li><%= link_to "New Post", new_post_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Register", new_user_registration_path %></li>
        <% end %>
      </ul><!-- fim .navbar-right -->
    </div><!-- fim .navbar-collapse -->
  </div><!-- fim .navbar-container -->
</nav><!-- fim .navbar -->
